HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Mydir/ApsDesktop.jar
Mydir/lib/commons-codec-1.11.jar
Mydir/lib/commons-logging-1.2.jar
Mydir/lib/gson-2.8.6.jar
Mydir/lib/httpclient-4.5.12.jar
Mydir/lib/httpcore-4.4.13.jar
